<div class="user">
  <div class="row">
    <div class="col-cs-12 col-sm-12 col-md-4 col-md-offset-1">
      <div class="content-container">
        <div class="row content-area" data-intro="Here's your basic info. It comes from LinkedIn." data-step="1"> 
          <div class="col-xs-5 col-sm-4 col-md-4">
            <div class="user-top">
              <% if(user.get("large_image_url")) { %>
                <img src="<%= user.get("large_image_url") %>" class="user-image">
              <% } else { %>
                <img src="/default_user.png" class="user-image">
              <% } %>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-8">
            <div class="profile-item user-name">
              <%= user.escape("name") %>
            </div>
            <div class="profile-item">
              <%= user.escape("headline") %>
            </div>
            <div class="profile-item">
              <%= user.escape("industry") %>
            </div>
            <div class="profile-item">
              <%= user.escape("location") %>
            </div>
            <div class="profile-item" id="social-share">
            </div>
            <br>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="content-container">
          <div class="content-area chart-container">
            <div id="results-chart">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-container">
      <div class="col-xs-12 col-sm-12 col-md-6 content-area personality-column">
        <div data-intro="Details about your personality type. Be sure to share with your colleagues if it's accurate!" data-step="2">
          <div class="personality-type">
            <%= user.get("personality_type").escape("title") %>
          </div>
          <div class="long-personality-type">
            <%= user.get("personality_type").escape("small_info") %>
          </div>
          <div class="personality-info lead">
            <%= user.get("personality_type").get("large_info") %>
          </div>
        </div>
        <div class="working-with-personality">
          <ul class="nav nav-pills relationship-type" data-intro="Tips on how to work with you, specifically. Split up by work relationship type (manager, colleague, employee)" data-step="3" data-position="top">
            <li class="active switch" data-category="colleague"><a>As<br>Colleague</a></li>
            <li class="switch" data-category="manager"><a>As<br>Manager</a></li>
            <li class="switch" data-category="employee"><a>As<br>Employee</a></li>
          </ul>
          <div class="tips-table">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>