<div class="user">
  <div class="row">
    <div class="col-cs-12 col-sm-12 col-md-4 col-md-offset-1">
      <div class="content-container">
        <div class="row content-area"> 
          <div class="col-xs-5 col-sm-4 col-md-4">
            <div class="user-top">
              <img src="<%= user.get("large_image_url") %>" class="user-image">
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-8">
            <div class="profile-item user-name">
              <%= user.escape("name") %>
            </div>
            <div class="profile-item">
              <%= user.escape("headline") %>
            </div>
            <div class="profile-item">
              <%= user.escape("industry") %>
            </div>
            <div class="profile-item">
              <%= user.escape("location") %>
            </div>
            <div class="profile-item" id="social-share">
            </div>
            <br>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="content-container">
          <div class="content-area chart-container">
            <div id="results-chart">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-container">
      <div class="col-xs-12 col-sm-12 col-md-6 content-area personality-column">
        <div class="personality-type">
          <%= userResultsInfo.get("personality_type").escape("title") %>
        </div>
        <div class="long-personality-type">
          <%= userResultsInfo.get("personality_type").escape("small_info") %>
        </div>
        <div class="personality-info lead">
          <%= userResultsInfo.get("personality_type").get("large_info") %>
        </div>
        <div class="working-with-personality">
          <ul class="nav nav-pills">
            <li class="active switch" data-category="colleague"><a>As<br>Colleagues</a></li>
            <li class="switch" data-category="manager"><a>As<br>Managers</a></li>
            <li class="switch" data-category="employee"><a>As<br>Employees</a></li>
          </ul>
          <div class="traits-table">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>