<% @title = "#{@user.name} | Minzio. Myers Briggs Personality profile" %> 
<% @description = "View #{@user.name}'s personality profile on Minzio. Minzio provides a myers briggs personality assessment test, tips for working with Jennifer Byrne and other professionals of any personality type" %>

<div id="content"><div>
  <div class="user user-public">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <div class="user-basic-info">
          <div>
            <div class="content-container">
              <div class="row content-area"> 
                <div class="col-xs-5 col-sm-4 col-md-4">
                  <div class="user-top">

                    <img src="/default_user.png" class="user-image">

                  </div>

                </div>
                <div class="col-xs-6 col-sm-6 col-md-8">
                  <h1>
                    <div class="profile-item user-name">
                      <%= @user.name %>
                    </div>
                  </h1>

                  <h2>
                    <div class="profile-item">
                      <%= @user.headline %>
                    </div>
                  </h2>
                  <h4>
                    <div class="profile-item">
                      <%= @user.industry %>
                    </div>
                  </h4>
                  <h4>
                    <div class="profile-item">
                      <%= @user.location %>
                    </div>
                  </h4>
                  <div class="profile-item">
                    <a href="<%= @user.pub_profile %>" target="blank">LinkedIn profile</a>
                  </div>
                  <br>
                </div>
                <div class="col-xs-12">
                  <div class="pub-profile-notice">
                    <div class="join-message">
                      Join Minzio and access <%= @user.name %>'s full profile. It's free!
                    </div>
                    As a Minzio member, you get access to:
                    <ul>
                      <li>Each of of the tips below, ranked by <%= @user.name %>'s LinkedIn connections</li>
                      <li>Detailed recommendations on working with each of your colleagues</li>
                      <li>A proprietary workplace personality assessment</li>
                    </ul>
                    <div class="view-full-profile-btn-container">
                      <a href="/auth/linkedin">
                        <btn class="btn btn-warning">View full profile</btn>
                      </a>
                    </div>
                    <br>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="content-container">
            <div class="content-area personality-column">
              <div class="working-with-personality">
                <div>
                  <div class="pub-profile-section-header">
                    <h2>Working with <%= @user.name %></h2>
                  </div>
                  <br>
                  <div class="colleague-type">
                    As a colleague
                  </div>
                  <table class="table">
                    <% @colleague_tips.each do |tip| %>
                    <tr>
                      <td class="tip">
                        <%= tip.text %>
                      </td>
                    </tr>
                    <% end %>
                  </table>

                  <br>
                  <div class="colleague-type">
                    As an employee
                  </div>
                  <table class="table">
                    <% @employee_tips.each do |tip| %>
                    <tr>
                      <td class="tip">
                        <%= tip.text %>
                      </td>
                    </tr>
                    <% end %>
                  </table>
                  <br>
                  <div class="colleague-type">
                    As a manager
                  </div>
                  <table class="table">
                    <% @manager_tips.each do |tip| %>
                    <tr>
                      <td class="tip">
                        <%= tip.text %>
                      </td>
                    </tr>
                    <% end %>
                  </table>
                </div>
                <!-- </table> -->
              </div>

            </div>
          </div>
        </div>
        <% if @user.personality_type_id %>
        <div class="content-container">
          <div class="row content-area">
            <div class="col-xs-12">
              <div class="personality-type">
                <%= @user.personality_type.title %>
              </div>
              <div class="long-personality-type">
                <%= @user.personality_type.small_info %>
              </div>
              <div class="personality-info lead">
                <%= @user.personality_type.large_info.html_safe %>
              </div>

            </div>
          </div>
        </div>
        <br>
        <% end %>
      </div>
    </div>
