<!-- <div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    user is <%= @user.name %>
  </div>
</div>
-->
<div id="content"><div>
  <div class="user user-public">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <div class="user-basic-info">
          <div>
            <div class="content-container">
              <div class="row content-area" data-intro="Here's your basic info. It comes from LinkedIn." data-step="1"> 
                <div class="col-xs-5 col-sm-4 col-md-4">
                  <div class="user-top">

                    <img src="/default_user.png" class="user-image">

                  </div>

                </div>
                <div class="col-xs-6 col-sm-6 col-md-8">
                  <div class="profile-item user-name">
                    <%= @user.name %>
                  </div>
                  <div class="profile-item">
                    <%= @user.headline %>
                  </div>
                  <div class="profile-item">
                    <%= @user.industry %>
                  </div>
                  <div class="profile-item">
                    <%= @user.location %>
                  </div>
                  <div class="profile-item">
                    <a href="<%= @user.pub_profile %>" target="blank">LinkedIn profile</a>
                  </div>
                  <br>
                </div>
                <div class="col-xs-12">
                  <div class="pub-profile-notice">
                    <div class="join-message">
                      Join Minzio and access <%= @user.name %>'s full profile. It's free!
                    </div>
                    As a Minzio member, you get access to:
                    <ul>
                      <li>Each of of the tips below, ranked by <%= @user.name %>'s LinkedIn connections</li>
                      <li>Detailed recommendations on working with each of your colleagues</li>
                      <li>A proprietary workplace personality assessment</li>
                    </ul>
                    <div class="view-full-profile-btn-container">
                      <a href="/auth/linkedin">
                        <btn class="btn btn-warning">View full profile</btn>
                      </a>
                    </div>
                    <br>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="content-container">
            <div class="content-area personality-column">
              <div class="working-with-personality">
                <div>
                  <div class="working-with-name">
                    Working with <%= @user.name %>
                  </div>
                  <br>
                  <div class="colleague-type">
                    As your colleague
                  </div>
                  <table class="table">
                    <% @colleague_tips.each do |tip| %>
                    <tr>
                      <td class="tip">
                        <%= tip.text %>
                      </td>
                    </tr>
                    <% end %>
                  </table>

                  <br>
                  <div class="colleague-type">
                    As your employee
                  </div>
                  <table class="table">
                    <% @employee_tips.each do |tip| %>
                    <tr>
                      <td class="tip">
                        <%= tip.text %>
                      </td>
                    </tr>
                    <% end %>
                  </table>
                  <br>
                  <div class="colleague-type">
                    As your manager
                  </div>
                  <table class="table">
                    <% @manager_tips.each do |tip| %>
                    <tr>
                      <td class="tip">
                        <%= tip.text %>
                      </td>
                    </tr>
                    <% end %>
                  </table>
                </div>
                  <!-- </table> -->
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>