<% var personalityType = member.get("personality_type").get("title") %>
<div class="row group-member-container">
  <% if(personalityType) { %>
  <a href="<%= '/#/users/' + member.get("id") %>">
    <% } %>

    <div class="group-member" data-id="<%= member.get("id") %>">
      <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
        <% if(member.get("image_url")) { %>
        <img src="<%= member.escape('image_url') %>" class="user-photo">
        <% } else { %>
        <img src="/default_user.png" class="user-photo">
        <% } %>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="member-info member-name">
          <% if(isAdmin) { %>
            <span class="glyphicon glyphicon-star"></span> 
          <% } %> 
          <%= member.escape("name") %> 

          <% if(isAdmin) { %>
            <span class="group-admin">
              (admin)
            </span>
          <% } %> 
        </div>

        <div class="member-info">
          <%= member.escape("headline") %>
        </div>

      <% if(deletePermitted && personalityType) { %>
      </a>
      <br>
        <div class="group-admin make-admin" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="transfer all admin privileges to <%= member.escape("name").split(" ")[0] %>"><span class="glyphicon glyphicon-transfer"></span> transfer admin</div>
      <a href="<%= '/#/users/' + member.get("id") %>">
      <% } %>

      </div>

      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <% if(personalityType) { %>
        <div class="personality-type-available">
          <%= personalityType %>
        </div>
        <% } else { %>
        <div class="no-personality-type">
          test incomplete
        </div>
        <% } %>
      </div>
      <% if(personalityType) { %>
    </a>
    <% } %>
  </div>
  <!-- <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"> -->
  <% if(deletePermitted) { %>
    <button class="btn btn-default btn-sm destroy admin-destroy" data-toggle="tooltip" data-placement="top" title="" data-original-title="remove <%= member.escape("name").split(" ")[0] %> from the group"><span class="glyphicon glyphicon-remove"></span></button>
  <% } else if(isCurrentUser && !isAdmin) { %>
    <button class="btn btn-default btn-sm destroy admin-destroy" data-toggle="tooltip" data-placement="top" title="" data-original-title="remove yourself from the group"><span class="glyphicon glyphicon-remove"></span></button>
  <% } else if(isCurrentUser && isAdmin) { %>
    <button class="btn btn-default btn-sm destroy non-admin" data-toggle="tooltip" data-placement="top" title="" data-original-title="you need to transfer admin privileges before removing yourself!"><span class="glyphicon glyphicon-remove"></span></button>
  <% } else { %>
    <button class="btn btn-default btn-sm destroy non-admin" data-toggle="tooltip" data-placement="top" title="" data-original-title="only the group admin can remove users"><span class="glyphicon glyphicon-remove"></span></button>
  <% } %>
  <!-- </div> -->
</div>
<hr>