<!DOCTYPE html>
<html>
<head>
  <title>AuthTest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:errors] %>
    <%= flash[:errors] %>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
